.Board__container{
    margin: auto;
}
.Board__gameboard{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(8,auto);
}
.Board__stats{
    display: flex;
}

.Board__space{
    -webkit-user-select: none;
    border: solid 1px black;
    width: 6em;
    height: 6em;
}

.Board__spaceLight{
    background-color: #D8DEE9;
}
.Board__spaceDark{
    background-color: #2E3440;
}
.Board__king-dark{
    content: url('../../images/pieces/b_king.png');
    object-fit: contain;
}
.Board__queen-dark{
    content: url('../../images/pieces/b_queen.png');
    object-fit: contain;
}
.Board__bishop-dark{
    content: url('../../images/pieces/b_bishop.png');
    object-fit: contain;
}
.Board__knight-dark{
    content: url('../../images/pieces/b_knight.png');
    object-fit: contain;
}
.Board__rook-dark{
    content: url('../../images/pieces/b_rook.png');
    object-fit: contain;
}
.Board__pawn-dark{
    content: url('../../images/pieces/b_pawn.png');
    object-fit: contain;
}
.Board__king-light{
    content: url('../../images/pieces/w_king.png');
    object-fit: contain;
}
.Board__queen-light{
    content: url('../../images/pieces/w_queen.png');
    object-fit: contain;
}
.Board__bishop-light{
    content: url('../../images/pieces/w_bishop.png');
    object-fit: contain;
}
.Board__knight-light{
    content: url('../../images/pieces/w_knight.png');
    object-fit: contain;
}
.Board__rook-light{
    content: url('../../images/pieces/w_rook.png');
    object-fit: contain;
}
.Board__pawn-light{
    content: url('../../images/pieces/w_pawn.png');
    object-fit: contain;
}

.Board__AiMoveStart{
    background-color: #A3BE8C;
}
.Board__AiMoveFinish{
    background-color: #EBCB8B;
}
.Board__Selected{
    background-color: #88C0D0;
}
.Board__AvailableMove{
    background-color: #5E81AC;
}
.Board__KillingMove{
    background-color: #BF616A;
}
